---
import Button from 'components/Button.astro'

import Default from 'layouts/Default.astro'

import { prisma } from 'lib/prisma'

const categories = await prisma.category.findMany({
  where: { parentId: null },
  select: { name: true },
})
---

<Default title='Gracefully Hooked' noHeader>
  <div class='flex flex-col min-h-screen items-center'>
    <div class='flex flex-col w-full items-center'>
      <div
        class='bg-blue-light bg-flowers bg-repeat-round h-20 w-full sm:h-24 md:h-28 lg:h-32 xl:h-36'
      >
        <div
          class='space-y-1 text-white top-4 right-4 text-3xl absolute md:text-4xl'
        >
          <div class='bg-blue-darker rounded-md p-0.5'>
            <div class='i-fa6-brands-facebook-square'></div>
          </div>
          <div class='bg-blue-darker rounded-md p-0.5'>
            <div class='i-fa6-brands-instagram'></div>
          </div>
        </div>
      </div>

      <h1
        class='bg-white rounded-full font-logo -mt-9 text-center py-4 px-12 text-4xl sm:px-24 sm:py-6 sm:-mt-12 sm:text-5xl md:px-32 md:py-8 md:-mt-16 md:text-6xl lg:text-7xl'
      >
        Gracefully Hooked
      </h1>
    </div>

    <div
      class='bg-basket bg-no-repeat flex flex-col h-full bg-[position:5%_0%] w-full items-center'
    >
      <div
        class='mt-4 w-max auto-cols-max grid gap-x-4 gap-y-4 grid-cols-2 sm:text-lg md:text-xl md:mt-12 md:gap-x-12'
      >
        <a class='mx-auto col-span-2' href='/shop'>
          <Button>Shop All</Button>
        </a>

        {categories.map(({ name }) => (
          <a href={`/shop/${name}`}>
            <Button class="w-full capitalize">{name}</Button>
          </a>
        ))}

        <Button class='mx-10 mt-5 col-span-2'>Custom</Button>
      </div>
    </div>
  </div>
</Default>
